@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(to right, #eee514, #c8df00, #a0d900, #72d200, #2dca05);
}


